[submodule "submodule/RegisterMap"]
	path = submodule/RegisterMap
	url = git@github.com:nanase/RegisterMap.git
[submodule "submodule/MidiUtils"]
	path = submodule/MidiUtils
	url = git://github.com/upsilon/MidiUtils.git
[submodule "submodule/Ymf825.Spi"]
	path = submodule/Ymf825.Spi
	url = git://github.com/upsilon/Ymf825.Spi.git
